{% block cadre %}
    <center>
        <div class="card w-75 " style=" background: rgba(255, 255, 255, 0.7);
             position: relative; margin:  3% 12.5%;{# z-index: 9999#}">
            <div class="card-header">
                CONGRÈS DE LA FÉDÉRATION FRANÇAISE D'ESCRIME
            </div>
            <div class="card-body">
                <h5 class="card-title">du 16 septembre 2023 au 17 septembre 2023</h5>
                {#<p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                <a href="#" class="btn btn-primary">Go somewhere</a>#}
                <div class="container">
                    <center>
                        <div class="row">
                            <div class="card col" style="width: 18rem; margin: 0 10px">
                                <div class="card-body">
                                    <h5 class="card-title">Nom Vacation</h5>
                                    <h6 class="card-subtitle mb-2 ">dates vacations</h6>
                                    <p class="card-text text-muted">nombre de place dispo.</p>
                                    <p class="card-text">listes des themes</p>
                                    <a href="#" class="card-link">Card link</a>
                                    <a href="#" class="card-link">Another link</a>
                                </div>
                            </div>
                            <div class="card col" style="width: 18rem; margin: 0 10px">
                                <div class="card-body">
                                    <h5 class="card-title">Card title</h5>
                                    <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
                                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                                    <a href="#" class="card-link">Card link</a>
                                    <a href="#" class="card-link">Another link</a>
                                </div>
                            </div>
                            <div class="card col" style="width: 18rem; margin: 0 10px">
                                <div class="card-body">
                                    <h5 class="card-title">Card title</h5>
                                    <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
                                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                                    <a href="#" class="card-link">Card link</a>
                                    <a href="#" class="card-link">Another link</a>
                                </div>
                            </div>
                        </div>
                    </center>
                </div>

            </div>
    </center>
{% endblock %}