

{% block body %}
  <h1>Formulaire d'ajout</h1>
  <br>
  <form>
    <div>
      <label for="atelier">Atelier</label>
      <input type="radio" id="atelier" name="type" value="atelier" onclick="showCheckboxes()"> 
    </div>
    <div>
      <label for="theme">Thème</label>
      <input type="radio" id="theme" name="type" value="theme" onclick="showCheckboxes()"> 
    </div>
    <div>
      <label for="vacation">Vacation</label>
      <input type="radio" id="vacation" name="type" value="vacation" onclick="showCheckboxes()"> 
    </div>
    <div id="checkboxes" style="display:none;">
      <br>
      <input type="checkbox" id="checkbox1" name="checkbox1" value="1">
      <label for="checkbox1">1</label>
      <br>
      <input type="checkbox" id="checkbox2" name="checkbox2" value="2">
      <label for="checkbox2">2</label>
      <br>
      <input type="checkbox" id="checkbox3" name="checkbox3" value="3">
      <label for="checkbox3">3</label>
      <br>
      <div id="atelier-champ" style="display:none;">
        <input type="text" id="champ1" name="champ1" placeholder="Nom de l'atelier">
      </div>
    </div>
  </form>

  <script>
    function showCheckboxes() {
      var checkboxes = document.getElementById("checkboxes");
      var atelierChamp = document.getElementById("atelier-champ");
      if (document.getElementById('atelier').checked) {
        checkboxes.style.display = "block";
        atelierChamp.style.display = "block";
      } else {
        checkboxes.style.display = "block";
        atelierChamp.style.display = "none";
      }
    }
  </script>
  <button onclick="window.location.href='/admin'">Retourner vers le menu admin</button>
{% endblock %}