{% extends '@EasyAdmin/page/content.html.twig' %}
{% block content_title %}pages d'ajout{% endblock %}
{% block page_actions %}
    <a class="btn btn-primary" href="/admin/addatelier">Ajouter un atelier</a>
    <a class="btn btn-primary" href="/">Ajouter un thème</a>
    <a class="btn btn-primary" href="/">Ajouter une vacation</a>
{% endblock %}

{% block main %}
    
{% endblock %}