<nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
        <a class="navbar-brand" href="/">
            <img src="{{ asset('/images/Logo.png') }}" alt="Logo de la maison des ligues" style="height:50px"></a>

        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                {% if app.user is defined and is_granted('ROLE_ADMIN') %}
                    <li class="nav-item">
                        <a class="nav-link" aria-current="page" href="/admin/">administration</a>
                    </li>
                {% endif %}
            </ul>
            {% if is_granted('ROLE_LICENCIE') %}
                <li class="nav-item">
                    <a class="nav-link" aria-current="page" href="/inscriptionatelier/">Inscription atelier</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" aria-current="page" href="/validation/">Validation inscription</a>
                </li>
                <form>
                    <a class="btn btn-outline-success" href="/logout">Déconnexion</a>
                </form>
            {% else %}
                <form>
                    <a class="btn btn-outline-success" href="/connexion">Connexion</a>
                    <a class="btn btn-outline-success" href="/inscription">Inscription</a>
                </form>
            {% endif %}
        </div>
    </div>
</nav>
